.book-preview {
  display: inline-block;
  margin: 0 10px 10px 10px;
  max-width: 128px;
  width: 128px;
  border: 2px solid gray;
  background: #eee;
  padding: 5px;
  padding-bottom: 2rem;
  img {
    display: block;
  }
  button img {
    width: 15px;
    height: 15px;
  }
  img {
    height: 212px;
  }
}

